{% extends 'main.html' %}

{% block content %}

<!-- <h1>this is home page </h1> -->
<!-- <hr>

<hr> -->

<div>
    <a href="{% url 'createclub' %}">create club</a>
    {% for club in clubs %}
    <div>
    <span>@{{ club.host.username }}</span>
    <h2><a href="{% url 'club' club.id %}">{{club.name}}</a></h2>
    <p>{{club.description}}</p>
    {% if request.user == club.host %}
    <a href="{% url 'updateclub' club.id %}">edit here</a>
    <a href="{% url 'deleteclub' club.id %}">delete here</a>
    {% endif %}
    <hr>
    {% endfor %}
    </div>
</div>
{% endblock %}