*{
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

body{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    background: #f1f3f9;
  }

/* main_div_0 */

#main_div_0
{
background-color: green;
height: 75px;
width: 100%;
/* float: left; */
}


#nci
{
    font-size: 30px;
    color: orange;
    float: left;
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 40px;
}

 #main_div_0 .btn-primary
{
    color: white;
    position: relative;
    top: 16px;
    left: 1100px;
    text-decoration: none;
    /* background-color: brown; */
} 


#main_div_0 .btn-danger
{
    color: white;
    position: relative;
    top: 10px;
    text-decoration: none;
    float: right;
}

/* index_div */
#index_div
{
    height: 200px;
    width: 100%;
    /* float: left; */
} 

#index_div p
{
    font-size: 20px;
    position: relative;
    top: 45px;
}


#index_images img
{
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 100px rgb(166, 159, 159);
}


